
# Where the reveal.js repo is cloned
reveal
# Where the staticjinja dependencies are saved for the virtualenv pip install
venv
# where the output from the staticjinja evaluation is dumped
out
# This should be a hard link to out/main.html, so that it's updated
#   when ./build is run, and browsers view it correctly when the 'file://'
#   URI scheme is employed.
/main.html
*.swp

