
/* revealjs styles */
.reveal h1 {
  font-size: 3em;
}

.reveal section img {
  border-color: #300;
  background: rgba(255, 255, 255, 0.22);
}

.slides > section:first-child {
  transform-origin:50% 50%;
  transform: rotate(5deg);
  background:rgba(200,0,0,0.1);
}

/* ACE styles */
.editor  {
  position:relative;
  width:1000px;
  height:300px;
}
/**/

