{% extends 'layouts/slide.html' %}
{% block contents %}

# Theorems

<blockquote>
The upper bound on $nsc( \frac {1}{2} (L) )$, and polynomial removals generally, is $O(n^2)$, and when the proportion is a mononomial plus a constant, the lower bound of $\Omega (n^2)$ also applies.
</blockquote>

Where:
$$\frac {1}{2} (L) = \lbrace x \in \Sigma^\* \mid \exists y \in \Sigma^\* \textrm{ with } |x| = |y| \textrm{ and } xy \in L$$

<a href="http://khilas.dcc.fc.up.pt/desco">(Related)</a>

{% endblock %}

